* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main {
  width: 800px;
  height: 600px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cabeza {
  width: 100px;
  height: 100px;
  background: none;
  position: absolute;
  left: 0;
  top: 0;
  animation: mover 2s ease infinite;
  transition: left;
}

.cabeza::after {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  background: #fff;
  position: absolute;
  top: 10px;
  left: calc(50% - 5px);
  border-radius: 50%;
}


@keyframes mover {
  25%{    
    left: calc(100% - 100px);
    top: 0;
  }

  50% {
    top: calc(100% - 100px);
    left: calc(100% - 100px);
  }

  75% {
    top: calc(100% - 100px);
    left: 0;
  }

  100% {
    top: 0;
    left: 0;
  }
}